<table class="table table-hover">
  <thead>
    <tr>
      <th>Hashtag</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
 <tbody>
    <% @hashtags.each do |hashtag| %>
      <tr>
        <td><%= hashtag.hashtag %></td>
        <td><%= link_to 'Show', hashtag %></td>
        <td><%= link_to 'Editar', edit_hashtag_path(hashtag) %></td>
        <td><%= link_to 'Excluir', hashtag, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>