<p id="notice"><%= notice %></p>

<h1>Messages</h1>


<label for="hashtag">Filtrar por hashtag:</label>
<%= collection_select(:hashtag, :id, Hashtag.all, :id, :hashtag, {include_blank: "Todas as Tags"},{:onchange=>"hashtagParams()"}) %>
<button id="btn-search" data-remote="true" data-url="messages/" data-params="" data-method="get">Search</button>

<%= render 'message' %>

<br>

<%= link_to "Filtrar", new_message_path, remote: true %>