<p id="notice"><%= notice %></p>

<h1>Mensagens</h1>

<div class="input-group" style="width: 50%;">
    <%= collection_select(:hashtag, :id, @hashtags_options, :id, :hashtag, {include_blank: "Todas as Tags"},{:class=>"custom-select", :onchange=>"hashtagParams()"}) %>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="btn-search" data-remote="true" data-url="messages/" data-params="" data-method="get">Search</button>
  </div>
</div>

<br>
<%= render 'message' %>
